.item1{background:LightSkyBlue;}
.item2{background:LightSalmon;}
.item3{background:PaleTurquoise;}
.item4{background:LightPink;}
.item5{background:PaleGreen;}
.item6{background:lightgrey;};

.container {
  font-size: 40px;
  min-height: 300px;
  width: 100%;
  background: LightGray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 300px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .item1{
    background: black;
    color: white;
  }
  .item2{
    background: black;
    color: white;
  }
  .item3{
    background: black;
    color: white;
  }
  .item4{
    background: black;
    color: white;
  }
  .item5{
    background: black;
    color: white;
  }
  .item6{
    background: black;
    color: white;
  }
}