html{
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

#navbar {
    background-color: #333333;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  }
  
  #navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  #welcome-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      padding: 0%;
      margin: 0%;
      color: black;
      text-align: center;
      font-size: 36px;
      background-color: #7cffcb;
      background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
  }
  
  #welcome-section p {
      font-style: italic;
      color: red;
  }

