.dates {
    background-color: aliceblue;
}

.background {
    background-color: beige;
}

.business {
    background-color: blanchedalmond;
}

footer {
    background-color: grey;
    color: white;
}